.container-background {
	height: 100vh;
    width: 100%;

	position: relative;

	overflow: hidden;
}

.container-foreground {
	height: 100vh;
    width: 100%;

	position: absolute;
	
	top: 0px;
	left: 0px;
}

.img-container-trump-initial {
	height: 100vh;

	position: absolute;

	left: -35px;
}

.img-container-biden-initial {
	height: 100vh;

	position: absolute;

	right: -35px;
}

.trump-slide {
    animation: trump-slide 1s;
    animation-fill-mode: forwards;
}

@keyframes trump-slide {
  from { 
  	transform: translate(0px, 0px); 
	}

  to { 
	transform: translate(-70px, 0px); 
	}
}

.biden-slide {
    animation: biden-slide 1s;
    animation-fill-mode: forwards;
}

@keyframes biden-slide {
  from { 
  	transform: translate(0px, 0px); 
	}

  to { 
	transform: translate(70px, 0px); 
	}
}

/* Modal https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */
/* Customize the label (the container) */
/* .difficulty {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */

/* Hide the browser's default checkbox */
/* .difficulty input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
} */

/* Create a custom checkbox */
/* .difficulty {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
} */

/* On mouse-over, add a grey background color */
/* .difficulty:hover input ~ .checkmark {
  background-color: #ccc;
} */

/* When the checkbox is checked, add a blue background */
/* .difficulty input:checked ~ .checkmark {
  background-color: #2196F3;
} */

/* Create the checkmark/indicator (hidden when not checked) */
/* .difficulty:after {
  content: "";
  position: absolute;
  display: none;
} */

/* Show the checkmark when checked */
/* .difficulty input:checked ~ .checkmark:after {
  display: block;
} */

/* Style the checkmark/indicator */
/* .difficulty .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} */
/* Modal */

#modal-header-1 {
    font-size: 2.25rem;
    color: white;
    text-shadow:
   -2px -2px 0 #000,  
    2px -2px 0 #000,
    -2px 2px 0 #000,
     2px 2px 0 #000;
}

.modal-content ul li {
    list-style: none;
}

.opt input[type="radio"] {
    position: fixed;
    opacity: 0;
    pointer-events: none;
}

.opt input[type="radio"]:checked ~ label {
    color: red;
}

.modal-content ul li input:checked {
    color: red;
}

#game-cta-start {
    color: black;
    background: white;
    border: solid 6px black;
    margin: 4px auto;
    font-size: 2rem;

    animation: shake 0.75s;
 	animation-iteration-count: infinite;
}

#game-cta-start:hover {
    animation: shake 0.5s;
	animation-iteration-count: infinite;
    text-decoration: none;
    border-width: 8px;
}

div span {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    line-height: 1;
    margin: 5px auto;
}

.box {
    border-width: 6px;
    border-style: solid;
    margin: 4px;
}

.box-trump {
    border-color: red;
}

.box-biden {
    border-color: blue;
}

.box-user-info, .box-user-info-volume-on, .box-user-info-volume-off {
    font-size: 1.25rem;
    color: black;
    border-color: black;
    background: white;
}

button {
    border: none;
    background: none;
}

.box-trump-1 {
    transform:translate(-4px, 2px) rotate(-5deg);
}

.box-biden-1 {
    transform:translate(-4px, 5px) rotate(5deg);
}

.box-trump-2 {
    transform:translate(-2px, 2px) rotate(-1deg);
}

.box-biden-2 {
    transform:translate(-2px, 6px) rotate(-1deg);
}

.box-trump-3 {
    transform:translate(-2px, 4px) rotate(5deg);
}

.box-biden-3 {
    transform:translate(5px, 10px) rotate(-7deg);
}

.hide-button {
    display: none;
}

/*https://www.w3schools.com/howto/howto_css_shake_image.asp*/
.shake {
	animation: shake 0.5s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}