.container-background {
	height: 100vh;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.container-foreground {
	height: 100vh;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

.img-container-trump-initial {
	height: 100%;
	position: absolute;
	left: -10%;
}

.img-container-biden-initial {
	height: 100%;
	position: absolute;
	right: -10%;
}

.container-background>div>img {
	height: 100%;
}

#home-title-row {
	height: 35%;
	margin-top: 12.5vh;
	animation: shake 0.75s;
	animation-delay: 0s;
	animation-iteration-count: infinite;
}

#home-title {
	width: 80%;
}

#home-cta-start,
#home-cta-tutorial {
	color: black;
	background: white;
	border: solid 6px black;
	margin: 4px auto;
	font-size: 1.7rem;
}

#home-cta-start {
	animation: shake 0.75s;
	animation-delay: 0.25s;
	animation-iteration-count: infinite;
}

#home-cta-tutorial {
	animation: shake 0.75s;
	animation-delay: 0.5s;
	animation-iteration-count: infinite;
}

#home-cta-start:hover,
#home-cta-tutorial:hover {
	animation: shake 0.5s;
	animation-iteration-count: infinite;
	text-decoration: none;
	border-width: 8px;
}

@keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}
	10% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}
	20% {
		transform: translate(-3px, 0px) rotate(1deg);
	}
	30% {
		transform: translate(3px, 2px) rotate(0deg);
	}
	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}
	50% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}
	60% {
		transform: translate(-3px, 1px) rotate(0deg);
	}
	70% {
		transform: translate(3px, 1px) rotate(-1deg);
	}
	80% {
		transform: translate(-1px, -1px) rotate(1deg);
	}
	90% {
		transform: translate(1px, 2px) rotate(0deg);
	}
	100% {
		transform: translate(1px, -2px) rotate(-1deg);
	}
}

/* Media queries */
@media (min-width: 600px) {
	.img-container-trump-initial {
		left: -5%;
	}
	.img-container-biden-initial {
		right: -5%;
	}
	#home-start-row {
		margin-top: 5vh;
	}
	#home-cta-start,
	#home-cta-tutorial {
		margin: 4px auto;
		font-size: 2rem;
	}
}

@media (min-width: 768px) {
	.img-container-trump-initial {
		left: 0;
	}
	.img-container-biden-initial {
		right: 0;
	}
	#home-title {
		width: 70%;
	}
}

@media (min-width: 992px) {
	.container-background {
		height: 70vh;
		margin: 15vh 0 0 0;
		border: solid black 16px;
	}
	.container-foreground {
		height: 70vh;
	}
	#home-title {
		width: 60%;
	}
	#home-title-row {
		margin-top: 7.5vh;
	}
	#home-start-row {
		margin-top: 0vh;
	}
	#home-cta-start,
	#home-cta-tutorial {
		border: solid 8px black;
		font-size: 2.5rem;
	}
	#home-cta-start:hover,
	#home-cta-tutorial:hover {
		border-width: 10px;
	}
}

@media (min-width: 1200px) {
	#home-title {
		width: 55%;
	}
	#home-title-row {
		margin-top: 5vh;
	}
	#home-start-row {
		margin-top: 5vh;
	}
	#home-cta-start,
	#home-cta-tutorial {
		border: solid 10px black;
		font-size: 3rem;
	}
	#home-cta-start:hover,
	#home-cta-tutorial:hover {
		border-width: 12px;
	}
}

@media (min-width: 1350px) {
	#home-cta-start,
	#home-cta-tutorial {
		border: solid 12px black;
		font-size: 4rem;
	}
	#home-cta-start:hover,
	#home-cta-tutorial:hover {
		border-width: 14px;
	}
}