@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');

body {
	text-align: center;
	font-family: 'Bowlby One SC', cursive;
	font-size: 2rem;
	padding: 0px;
}

h1 {
	font-size: 2.5rem;
}

.container-background {
	height: 100vh;

	position: relative;

	overflow: hidden;
}

.container-foreground {
	height: 100vh;

	position: absolute;
	
	top: 0px;
	left: 0px;
}

.img-container-trump-initial {
	height: 100vh;

	position: absolute;

	left: -35px;
}

.img-container-biden-initial {
	height: 100vh;

	position: absolute;

	right: -35px;
}

#home-cta-start, #home-cta-tutorial, #home-cta-contact {
	border: solid 6px black;
    margin: 2px auto;
}

#home-cta-start {
	transform:translate(1px, -2px) rotate(2deg);

	animation: shake-start 0.75s;
	animation-iteration-count: infinite;
}

#home-cta-tutorial {
	transform:translate(-2px, 2px) rotate(-1deg);

	animation: shake-tutorial 0.75s;
	animation-iteration-count: infinite;
}

#home-cta-contact {
	transform:translate(2px, 4px) rotate(1deg);

	animation: shake-contact 0.75s;
	animation-iteration-count: infinite;
}

#home-cta-start:hover, #home-cta-tutorial:hover, #home-cta-contact:hover {
	animation: shake-hover 0.5s;
	animation-iteration-count: infinite;
}

.hide-button {
    display: none;
}

@keyframes shake-start {
  0% { transform: translate(1px, -2px) rotate(2deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes shake-tutorial {
  0% { transform: translate(-2px, 2px) rotate(-1deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes shake-contact {
  0% { transform: translate(2px, 4px) rotate(1deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes shake-hover {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}