@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');

body {
	text-align: center;
	font-family: 'Bowlby One SC', cursive;
	font-size: 1.5rem;
	padding: 0;
}

.hide-button {
    display: none;
}