.container-background {
	height: 100vh;
    width: 100%;

	position: relative;

	overflow: hidden;
}

.container-foreground {
	height: 100vh;
    width: 100%;

	position: absolute;
	
	top: 0px;
	left: 0px;

    background: rgba(0,0,0,0.4);
}

.img-container-trump-initial {
	height: 100vh;

	position: absolute;

	left: -35px;
}

.img-container-biden-initial {
	height: 100vh;

	position: absolute;

	right: -35px;
}

#tutorial-close {
    position: absolute;
    top: 5%;
    right: 5%;

    z-index: 2;

    font-size: 2.25rem;
    color: white;
    text-shadow:
   -2px -2px 0 #000,  
    2px -2px 0 #000,
    -2px 2px 0 #000,
     2px 2px 0 #000;
}

.carousel {
    height: 100%;
}

ol.carousel-indicators li,
ol.carousel-indicators li.active {
   width: 1rem;
   height: 1rem;
   margin-left: .5rem;
   margin-right: .5rem;
   border-radius: 50%;
   border: black solid 3px;
}

.carousel-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin: 5% 0;
}

.carousel-content > img {
    width: 70%;
}

/* #carousel-content-slideshow {
    border: black solid 1px;
    width: 70%;
    height: 60vh;

    position: relative;
}

#carousel-content-slideshow > img {
    position: absolute;

    top: 0px;
    left: 0px;
} */

.tutorial-text {
    font-size: 2.25rem;
    color: white;
    text-shadow:
   -2px -2px 0 #000,  
    2px -2px 0 #000,
    -2px 2px 0 #000,
     2px 2px 0 #000;
}

.carousel-indicators {
    margin-bottom: 5%;
}

ol.carousel-indicators li.active {
   background: white;
}

.carousel-control {
    opacity: 1;
}

.prev-icon .fas, .next-icon .fas {
    font-size: 4rem;
    color: white;
    text-shadow:
   -2px -2px 0 #000,  
    2px -2px 0 #000,
    -2px 2px 0 #000,
     2px 2px 0 #000;
}